<!-- login-user.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login | User</title> 
</head>
<body>
    <header>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <h1>VoiceChoice</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('elections') }}">Elections</a></li>
        </ul>
    </nav>
    </header>
    
    <!-- Register Page Content -->
    <main>
        <section id="register" class="register-card">
        <h1>User Login</h1> 
        <div class="small-label">
            <p>You are currently logging as user</p>
        </div>

        <form id="contact-form">
            <div>
            <!-- Textboxes -->
                <div class="input-container">
                <label for="username"><img src="{{ url_for('static', filename='images/username.png') }}" alt=""></label>
                <input type="text" id="username" name="username" value="Username" readonly>
                </div>
                <div class="input-container">
                <label for="password"><img src="{{ url_for('static', filename='images/pass.png') }}"alt=""></label>
                <input type="text" id="password" name="password" value="Password" readonly>
                </div>
            </div>
            <!-- Submit Button -->
            <input type="submit" id="register-button" value="Login">
        </form>
        <div class="elec-small-label">
            <p>Don't have an account?</p>
        </div>
        <div class="small-label">
            <a href="#">Sign Up</a>
        </div>
    </main>

    <footer>
        <!-- Footer Section -->
            <p>&copy; 2023 VoiceChoice - All Rights Reserved</p>
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="https://instagram.com/notdhruvmore?igshid=OGQ5ZDc2ODk2ZA==/" target="_blank">
                <img src="{{ url_for('static', filename='images/ig.png') }}" alt="">
    
            </a>
            <a href="https://www.facebook.com/Dhruvgupta/" target="_blank">
                <img src="{{ url_for('static', filename='images/fbk.png') }}" alt="">
            </a>
            <a href="https://www.linkedin.com/in/dhruv-vishesh-gupta-a98a84271/" target="_blank">
                <img src="{{ url_for('static', filename='images/ln.png') }}" alt="">
            </a>
        </div>
    </footer>
</body>
</html>
