<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <title>VoiceChoice</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <h1>VoiceChoice</h1>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('elections') }}">Elections</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li class="dropdown">
                <a href="#" class="login-dropdown">Login ▼</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('loginadmin') }}">As Admin</a></li>
                    <li><a href="{{ url_for('loginuser') }}">As User</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="login-dropdown">Name ☰</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('user') }}">Profile</a></li>
                    <li><a href="{{ url_for('user') }}">Settings</a></li>
                    <li><a href="{{ url_for('user') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        <section id="welcome" class="card">
            <div class="welcome-content">
                <h1>Welcome to VoiceChoice</h1>
                    How to Vote?
                 </div>
            <div class="welcome-image">
                <img src="{{ url_for('static', filename='images/vote.png') }}" alt="">
            <!-- Replace with your image and alt text -->
         </div>
        </section>
    
    <!-- About Us Section -->
         <section id="about-us" class="card">
            <h2>About Us</h2>
            VoiceChoicE
            at your Online Voting Solution, we believe in the power of democracy and the importance of making the voting process accessible, secure, and convenient for all. Our mission is to revolutionize the way people participate in elections and decision-making processes by providing a cutting-edge online voting platform that ensures transparency, integrity, and inclusivity.
            <h2>Our Vision </h2>
             We envision a world where every eligible citizen can exercise their right to vote easily, securely, and without barriers. Our goal is to empower individuals and organizations with the tools they need to engage in fair and efficient electronic voting, whether it's for political elections, corporate governance, or community decisions.
        </section>
    
    <!-- Contact Section -->
    <section id="contact" class="card">
        <h2 id="contact-title">Contact</h2>
        <p id="contact-desc">Feel free to reach out to us for any questions and opportunities!</p>
        
        <!-- Contact Form -->
        <form id="contact-form" method="POST" action="{{ url_for('send_email') }}">
            <div>
                <label for="from_email" id="contact-form-title">Email Us 🚀</label>
                <input type="email" id="from_email" name="from_email" placeholder="Your Email">
                <input type="text" id="from_name" name="from_name" placeholder="Your Name">
                <input type="text" id="subject" name="subject" placeholder="Subject">
                <textarea id="message" name="message" placeholder="Message" rows="4"></textarea>
            </div>
            <input type="submit" id="contact-button" value="Send">
        </form>
    </section>
    </main>
    <footer>
    <!-- Footer Section -->
        <!-- Add your footer content here -->
        <p>&copy; 2023 VoiceChoice - All Rights Reserved</p>
    <!-- Social Media Icons -->
    <div class="social-icons">
        <a href="https://instagram.com/notdhruvmore?igshid=OGQ5ZDc2ODk2ZA==/" target="_blank">
            <img src="{{ url_for('static', filename='images/ig.png') }}" alt="">

        </a>
        <a href="https://www.facebook.com/Dhruvgupta/" target="_blank">
            <img src="{{ url_for('static', filename='images/fbk.png') }}" alt="">
        </a>
        <a href="https://www.linkedin.com/in/dhruv-vishesh-gupta-a98a84271/" target="_blank">
            <img src="{{ url_for('static', filename='images/ln.png') }}" alt="">
        </a>
    </div>
     </footer>
</body>
</html>
